@using Microsoft.Extensions.Logging
@using Shared.LazyLoad
@using Fluxor
@using Microsoft.Extensions.DependencyInjection

@page "/feature2"
@inherits LazyComponentBase

@inject ICustomServiceProvider CustomProvider
@inject ILogger<Component1> Logger
@inject NavigationManager Navigate

<h3>Feature 2 with Fluxor</h3>

<button @onclick="IncrementCounter">Increment</button>

@code {
    [LazyInject] 
    private IServiceFeature2 ServiceFeature2 { get; set; } = null!;

    private void IncrementCounter()
    {
        ServiceFeature2.Test();
    }
}
