@page "/"
@using Shared.LazyLoad
@inject ICustomServiceProvider ServiceProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@message</p>


<button @onclick="TestService">Call Feature1 Service</button>


@code {
    private string message = "";

    protected IServiceFeature Service => ServiceProvider.CurrentProvider.GetRequiredService<IServiceFeature>();

    private void TestService()
    {
        if (Service != null)
        {
            Service.Test();
            message = "Feature Service Called Successfully!";
        }
        else
        {
            message = "Feature Service Not Found!";
        }
    }

}
