@page "/lazy-load/component2"
@using Shared.LazyLoad
@inherits LazyComponentBase

<h3>Feature 2 with Fluxor</h3>

<p>Counter: @State?.Value.Counter</p>

<button @onclick="IncrementCounter">Increment</button>
