@page "/lazy-load"
@inherits LazyComponentBase
@using Microsoft.Extensions.Logging
@using Shared.LazyLoad
@using Fluxor
@using Feature1.State
@using Microsoft.Extensions.DependencyInjection
@inject ILogger<Component1> Logger
@inject NavigationManager Navigate


<h3>Feature 1 with Fluxor</h3>

<p>Counter: @State?.Value.Counter</p>

<button @onclick="IncrementCounter">Increment</button>

<button @onclick="NavigateTo">Go to component 2</button>


@code {
    [LazyInject]
    private IDispatcher Dispatcher { get; set; } = null!;
    
    [LazyInject]
    private IState<Feature1State> State { get; set; } = null!;

    private void IncrementCounter()
        => Dispatcher.Dispatch(new IncrementFeature1CounterAction());

    private void NavigateTo()
    {
        Navigate.NavigateTo("/lazy-load/component2");
    }
}
